<!DOCTYPE HTML>

<html>
<head>
	<title>Registration Program</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type = 'text/css'href="assets/css/main.css" />
</head>
<body>

	<!-- Header -->
		<header id="header" class="alt">
			<div class="logo"><a href="index.html">Raappo</a></div>
			<!-- Header<a href="#menu">Menu</a> -->
		</header>

	
	<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<header>
					<h1>Project Raappo</h1>
					<p>We are looking for energetic and enthusiastic programmers<br />to colloborate and be part of a project</p>
				</header>
				<a href="https://goo.gl/forms/3i44stUSVa4l6i1x1" class="button big scrolly">Register</a>
			</div>
		</section>

	<!-- Main -->
		<div id="main">

			<!-- Section -->
				<section class="wrapper style1">
					<div class="inner">
						<!-- 2 Columns -->
							<div class="flex flex-2">
								<div class="col col1">
									<div class="image round fit">
										<img src="/images/pic01.jpg" alt="" />
									</div>
								</div>
								<div class="col col2">
											<h3>Who are we, what is the plan?</h3>
										<h5>
											We are 2 persons having an idea of creating a platform for vehicle services through mobile and web applications.
											<br/><br/>
											The plan  is to setup a business platform for vehicle related services for two and four wheeler in Hyderabad and later expand it
											to other major cities.
											<br/><br/>
											currently we are in process of designing the solution, building a team and we are also looking for funding oppertunities.
										</h5>
									</div>
							</div>
					</div>
				</section>

			<!-- Section -->
				<section class="wrapper style2">
					<div class="inner">
						<div class="flex flex-2">
							<div class="col col2">
								<h3>Are you looking for the oppertunity to work with us?</h3>
								<h5>
									As we are building a team, we are looking for people who want to learn and implement their knowledge and technical capabilities 
									or their business development skills in helping to bring out the solution a reality.
									<br/><br/>
									If you are ready and willing to work with us as a team and be part of our journey, you are welcome please register with us
									</h5>
							</div>
							<div class="col col1 first">
								<div class="image round fit">
									<img src="images/pic02.jpg" alt="" />
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="wrapper style1">
					<div class="inner">
						<!-- 2 Columns -->
							<div class="flex flex-2">
								<div class="col col1">
									<div class="image round fit">
										<img src="/images/pic01.jpg" alt="" />
									</div>
								</div>
								<div class="col col2">
									<h3>What you will get?</h3>
									<h5>
										1) Hands on experience on working on real time project<br/>   
										2) Certificate of Internship from our organization.
										<br/><br/>
										<b>Note:</b> we are not going to give salary/styfund, as we are individual persons and building the business on own efforts.
									</h5>
								</div>
							</div>
					</div>
				</section>



					<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Whom are we looking for?</h3>
									<h4>
										Basically we want people who want to work as a team for designing and developing the solution along with us.
										<br/><br/>If you are falling into any one of the below criteria, you can register with us. <br/>
										<h5> 1) If you want to learn new technologies, implement and design the solution. <br/>
										2) If you are good and intrested in designing solution and workflow for business.  <br/>
										3) If you are intrested and looking for guidance to work on real time projects.<br/>
										4) If you have experience and skill and want to help us with your knowledge. <br/>
									</h5></h4>
									<a href="https://goo.gl/forms/3i44stUSVa4l6i1x1" class="button">Register</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<img src="images/pic02.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</section>


		</div>

	<!-- Footer -->
		<footer id="footer">
			<div class="copyright">
				
				<p>&copy; 2018. All rights reserved. Team Raappo.</p>
			</div>
		</footer>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
</html>